<html>
<head>
</head>
<body>
<form action = "/agent_logged_in" method = "POST">
    <input type = "email" name = "email" placeholder = "Email" required/> </br>
    <input type = "password" name = "password" placeholder = "Password" required/></br>
    <input type = "hidden" name = "action" value = "register">
    <input type = "submit" value = "REGISTER" /></br>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>